<!-- (pathSelected)="implementPath($event)" -->
<!-- (implementPath)="displaySelectedComponent($event)" -->

<app-header></app-header>

<div class="container-fluid padding ">
    <router-outlet></router-outlet>
</div>


<!-- <app-ui-modal openClass="btn-success " opnText="Modal un "></app-ui-modal>
    <app-ui-modal openClass="btn-danger " openText="Modal deux "></app-ui-modal> -->

<!-- <div class="container-fluid padding ">
    <input type="text " [(ngModel)]="name ">
    <h3>{{name}}</h3>
</div> -->