<div class="row">
    <div class="col-12">
        <img src="" alt="" class="img-responsive img-thumbnail">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 appHighlightElement style="text-decoration: underline;">{{currentRecipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <i style="color: darkslategrey;">{{currentRecipe.description}}</i>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h6 style="font-weight: bold; color:crimson;text-decoration: underline;">Ingredients</h6>
    </div>
</div>
<hr>
<div class="row">

    <div class="col-12">
        <ui-dropdown-button mainClass="btn btn-danger" isAlignedRight="false" title="Manage Recipe" targetUrl="#" customClass="" subMenuItems="[
  { 'customClass': '', 'targetUrl': '#', 'title': 'To Shopping List', 'action': null },
  { 'customClass': '', 'targetUrl': '#', 'title': 'Edit Recipe', 'action': null },
  {'customClass': '', 'targetUrl': '#', 'title': 'Delete Recipe', 'action': null }
  ]"></ui-dropdown-button>
    </div>
</div>